##################### KAFKA #####################
KAFKA_BROKERS=kafka.example.org:9094
KAFKA_TOPIC=topic-kafka-example
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_GROUP_ID=kafka-group-example
KAFKA_EXTERNAL_HOST=kafka.example.org


##################### OPENSEARCH #####################

OPENSEARCH_HOSTS=https://opensearch.example.org
OPENSEARCH_INITIAL_ADMIN_PASSWORD=change-me-strong-password
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=change-me-strong-password
OPENSEARCH_PUBLIC_HOST=opensearch.example.org
OPENSEARCH_DASHBOARDS_PUBLIC_HOST=opendash.example.org


##################### GRAFANA #####################
GRAFANA_PUBLIC_HOST=grafana.example.org
GRAFANA_ADMIN_PASSWORD=change-me-strong-password

